{% extends 'base.html.twig' %}

{% block title %} Preview - Newsletter {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="assets/css/main.css">
{% endblock %}

{% block body %}
    <h1> Subscribe to the Newsletter </h1>
{% endblock %}
