{% extends 'base.html.twig' %}

{% block title %} Preview - Unsubscribe to the Newsletter {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="assets/css/main.css">
{% endblock %}

{% block body %}
    <h1> Goodbye ! :( </h1>
    <p>
        You will not receive Newsletter anymore. <br>
        To be part of the Newsletter again, please refill the registration form !
    </p>
    <a href="{{ path('app_preview') }}"> Home </a>
{% endblock %}
