<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <style>
            body {
                width: 100%;
                margin: 0;
                padding: 0;
                background-color: #F2F2F2;
            }

            header {
                width: calc(60% - 4em);
                margin-left: 20%;
                padding: 2em;
                background-color: black;
                text-align: center;
            }

            header > h1 {
                margin: 0;
                padding: 0;
                font-size: 2.6em;
                font-family: "Elephant", serif;
                color: white;
            }

            .container {
                width: calc(60% - 4em);
                margin-left: 20%;
                padding: 2em;
                font-family: Ebrima, sans-serif;
            }

            .container > h2 {
                font-size: 2em;
            }

            .container > p {
                font-size: 1.2em;
            }
        </style>
        <title> Registration Completed </title>
    </head>
    <body>
        <header>
            <h1> Preview - Newsletter </h1>
        </header>
        <div class="container">
            <h2> Bienvenue !</h2>
            <p> Vous avez osé cliquer sur le bouton d'inscription à la Newsletter ? Ce mail est la preuve que vous êtes dans nos petits papiers. <br>
                Vous recevrez de temps en temps des informations sur les produits du moment à ne pas rater.
            </p>
            <p> À très vite ! </p>
            <p><b> L'équipe du site. </b></p>
            <br>
            <hr>
            <a href=""> Se désabonner </a>
        </div>
    </body>
</html>
